body {
  background-color: #FFCC00;

  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

a, a:visited, a:hover {
  color: #336688;
  text-decoration: none;
}

#container {
  width: 550px;
  margin: 0 auto;
}

header {
  border-bottom: solid 4px black;
}

header h1 {
  font-size: 3em;
  margin-bottom: 5px;
}

footer {
  border-top: solid 1px black;
  font-size: 0.8em;
}
